<a href="https://colab.research.google.com/github/chandu-galla/task-2-basic-python/blob/main/Copy_of_Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import openpyxl

In [ ]:
wb=openpyxl.load_workbook("Input_1 - Python Developer Intern - Task 2 - Datasets.xlsx")

In [ ]:
print(wb.sheetnames)

['in']

In [ ]:
ws=wb['in']

In [ ]:
wb2=openpyxl.load_workbook("output.xlsx")

In [ ]:
print(wb2.sheetnames)

['Sheet1']

In [ ]:
ws2=wb2['Sheet1']

In [ ]:
ws2['A1']='Name'
ws2['B1']='Username'
ws2['C1']='Chapter Tag'
ws2['D1']='Test_Name'
ws2['E1']='score'
ws2['F1']='time taken'
ws2['G1']='answered'
ws2['H1']='correct'
ws2['I1']='wrong'
ws2['J1']='skipped'

In [ ]:
wb2.save("output.xlsx")

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_excel('Input_1 - Python Developer Intern - Task 2 - Datasets.xlsx')

In [ ]:
print(df)

        Name  id Chapter Tag Concept Test 1 - score  \
0    Darshan  34       C8S11                      4
1      Durga  35       C8S11                      3
2      Idhaz  36       C8S11                      5
3    Kishore  37       C8S11                      1
4       Mano  38       C8S11                      4
5     Nandha  39       C8S11                      3
6   Nandhini  40       C8S11                      5
7     Rubika  42       C8S11                      2
8      Saila  43       C8S11                      -
9    Shankar  44       C8S11                      1
10     Tarun  45       C8S11                      3
11    Thanis  46       C8S11                      5
12   Vignesh  47       C8S11                      3

   Concept Test 1 - time-taken (seconds) Concept Test 1 - answered  \
0                                    118                         4
1                                    886                         5
2                                    112                         5
3                                     29                         3
4                                    242                         5
5                                     55                         5
6                                    120                         5
7                                    138                         5
8                                      -                         -
9                                     65                         5
10                                    71                         5
11                                   199                         5
12                                   115                         5

   Concept Test 1- correct Concept Test 1- wrong Concept Test 1- skipped  \
0                        4                     0                       1
1                        3                     2                       0
2                        5                     0                       0
3                        1                     2                       2
4                        4                     1                       0
5                        3                     2                       0
6                        5                     0                       0
7                        2                     3                       0
8                        -                     -                       -
9                        1                     4                       0
10                       3                     2                       0
11                       5                     0                       0
12                       3                     2                       0

   Concept Test 2 - score  ... Full Chapter Test 1 - answered  \
0                       1  ...                             10
1                       3  ...                             10
2                       3  ...                             10
3                       -  ...                             10
4                       0  ...                             10
5                       0  ...                              9
6                       3  ...                             10
7                       0  ...                             10
8                       0  ...                              -
9                       1  ...                             10
10                      2  ...                              4
11                      2  ...                             10
12                      2  ...                             10

   Full Chapter Test 1- correct Full Chapter Test 1- wrong  \
0                             6                          4
1                             4                          6
2                             4                          6
3                             4                          6
4                             4                          6
5                             2                          7
6                             7                          3
7                             7                          3
8                             -                          -
9                             4                          6
10                            1                          3
11                            3                          7
12                            4                          6

   Full Chapter Test 1- skipped Full Chapter Test 2 - score  \
0                             0                           6
1                             0                           6
2                             0                           8
3                             0                           0
4                             0                           2
5                             1                           0
6                             0                           5
7                             0                           5
8                             -                           -
9                             0                           2
10                            6                           1
11                            0                           1
12                            0                           -

   Full Chapter Test 2 - time-taken (seconds) Full Chapter Test 2 - answered  \
0                                         397                             10
1                                         539                             10
2                                         583                             10
3                                          37                              9
4                                         657                             10
5                                          30                             10
6                                         691                             10
7                                         280                             10
8                                           -                              -
9                                         143                             10
10                                        139                              9
11                                         72                             10
12                                          -                              -

   Full Chapter Test 2- correct Full Chapter Test 2- wrong  \
0                             6                          4
1                             6                          4
2                             8                          2
3                             0                          9
4                             2                          8
5                             0                         10
6                             5                          5
7                             5                          5
8                             -                          -
9                             2                          8
10                            1                          8
11                            1                          9
12                            -                          -

   Full Chapter Test 2- skipped
0                             0
1                             0
2                             0
3                             1
4                             0
5                             0
6                             0
7                             0
8                             -
9                             0
10                            1
11                            0
12                            -

[13 rows x 57 columns]

In [ ]:
df2=pd.read_excel('output.xlsx')

In [ ]:
print(df2)

        Name  Username Chapter Tag  Test_Name  score  time taken  answered  \
0    Darshan      34.0       C8S11        NaN    NaN         NaN       NaN
1    Darshan      34.0       C8S11        NaN    NaN         NaN       NaN
2    Darshan      34.0       C8S11        NaN    NaN         NaN       NaN
3    Darshan      34.0       C8S11        NaN    NaN         NaN       NaN
4    Darshan      34.0       C8S11        NaN    NaN         NaN       NaN
..       ...       ...         ...        ...    ...         ...       ...
111  Vignesh      47.0       C8S11        NaN    NaN         NaN       NaN
112  Vignesh      47.0       C8S11        NaN    NaN         NaN       NaN
113  Vignesh      47.0       C8S11        NaN    NaN         NaN       NaN
114  Vignesh      47.0       C8S11        NaN    NaN         NaN       NaN
115  Vignesh      47.0       C8S11        NaN    NaN         NaN       NaN

     correct  wrong  skipped
0        NaN    NaN      NaN
1        NaN    NaN      NaN
2        NaN    NaN      NaN
3        NaN    NaN      NaN
4        NaN    NaN      NaN
..       ...    ...      ...
111      NaN    NaN      NaN
112      NaN    NaN      NaN
113      NaN    NaN      NaN
114      NaN    NaN      NaN
115      NaN    NaN      NaN

[116 rows x 10 columns]

In [ ]:
for i in range(2,10):
  for j in range(1,3):
    ws2.cell(row=i,column=j).value=ws.cell(row=2,column=j).value

In [ ]:
for a in range(11,19):
  for j in range(1,3):
    ws2.cell(row=a,column=j).value=ws.cell(row=3,column=j).value

In [ ]:
for b in range(20,28):
  for j in range(1,3):
    ws2.cell(row=b,column=j).value=ws.cell(row=4,column=j).value

In [ ]:
for c in range(29,37):
  for j in range(1,3):
    ws2.cell(row=c,column=j).value=ws.cell(row=5,column=j).value

In [ ]:
for d in range(38,46):
  for j in range(1,3):
    ws2.cell(row=d,column=j).value=ws.cell(row=6,column=j).value

In [ ]:
for e in range(47,55):
  for j in range(1,3):
    ws2.cell(row=e,column=j).value=ws.cell(row=7,column=j).value

In [ ]:
for f in range(56,64):
  for j in range(1,3):
    ws2.cell(row=f,column=j).value=ws.cell(row=8,column=j).value

In [ ]:
for g in range(65,73):
  for j in range(1,3):
    ws2.cell(row=g,column=j).value=ws.cell(row=9,column=j).value

In [ ]:
for h in range(74,82):
  for j in range(1,3):
    ws2.cell(row=h,column=j).value=ws.cell(row=10,column=j).value

In [ ]:
for k in range(83,91):
  for j in range(1,3):
    ws2.cell(row=k,column=j).value=ws.cell(row=11,column=j).value

In [ ]:
for l in range(92,100):
  for j in range(1,3):
    ws2.cell(row=l,column=j).value=ws.cell(row=12,column=j).value

In [ ]:
for m in range(101,109):
  for j in range(1,3):
    ws2.cell(row=m,column=j).value=ws.cell(row=13,column=j).value

In [ ]:
for n in range(110,118):
  for j in range(1,3):
    ws2.cell(row=n,column=j).value=ws.cell(row=14,column=j).value

In [ ]:
for k in range(0,111):
  k=k+6
  for l in range(0,117):
    l=l+6
    for x in range(5+k,10+l):
        for n in range(2,14):
          for o in range(5,10):
            for y in range(4+k,9+l):
              ws2.cell(row=x,column=o).value=ws.cell(row=n+1,column=y).value